@import '../../../styles/_config.scss';

.Header {
  display: block;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-image: url('/images/hero-waves.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.Navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 450px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0 auto;

  @media (min-width: $md) {
    width: 80%;
    max-width: 750px;
  }

  @media (min-width: $xl) {
    width: 60%;
  }
}

.NavigationLogo {
  display: flex;
  width: 100px;
  height: auto;
  align-items: center;
  margin: 0 auto;

  & img {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  @media (min-width: $md) {
    width: 150px;
  }
}

.NavigationLink {
  display: block;
  text-decoration: none;
  background-color: $color4;
  color: $color1;
  font-size: clamp($fontsize1, 3vw, $fontsize2);
  padding: 0.5em 0.75em;
  border-radius: 50px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(0.9);
    background-color: $color3;
  }

  &Active {
    background-color: $color3;
  }
}
