@import '../../../styles/_config.scss';

.ContactSocialsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContactSocials {
  display: flex;
  flex-direction: row;
  gap: 0 2.5rem;

  & svg {
    fill: $color4;
  }

  @media(min-width: $md) { 
    & svg {
      width: 60px;
      height: 60px;
    }
  }

  @media(min-width: $xl) {
    & svg {
      width: 80px;
      height: 80px;
    }
  }
}