@import '../../../styles/_config.scss';

.HeroDescription {
  display: block;
  margin: 16px auto;
  width: 100%;
  text-align: center;
  font-size: clamp($fontsize1, 4vw, $fontsize2);
  line-height: 1.5em;

  @media (min-width: $md) {
    margin: 32px auto;
  }
}