@import '../../../styles/_config.scss';

.HeroPersonalTitles {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: relative;
  width: 100%;
  max-width: 450px;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: clamp($fontsize0, 3vw, $fontsize1);
  text-align: center;
  box-shadow: 0px 0.25em 0.5em rgba(0, 0, 0, 0.1);

  &Job,
  &Content1,
  &Content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 12px;
    font-weight: 500;
    position: relative;
    z-index: 1;

    & svg {
      width: 35px;
      height: 35px;
    }
  }

  &Job {
    grid-area: 1/1/2/3;
    background-color: $color4;
    color: $color1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: clamp($fontsize1, 3vw, $fontsize2);
    
    & p {
      padding: 8px 0;

      & a {
        color: $color1;
      }
    }

    & svg {
      fill: $color1;
    }
  }

  &Content1 {
    color: $color1;
    background-color: $color3;
    border-bottom-left-radius: 10px;

    & svg {
      fill: $color1;
    }
  }

  &Content2 {
    row-gap: 8px;
    background-color: $color1;
    border-bottom-right-radius: 10px;

    & svg {
      fill: $color4;
    }
  }

  @media (min-width: $md) {
    flex-direction: row;
    width: 100%;
    max-width: unset;
    padding: 0;
    border-radius: 10px;

    &Background1,
    &Background2 {
      display: block;
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: unset;
    }

    &Background1 {
      left: 0;
      border-radius: unset;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &Background2 {
      right: 0;
      border-radius: unset;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
