@import '../../../styles/_config.scss';

.HeroContainer {
  display: block;
  width: 100%;
  // background-image: url('/images/hero-waves.png');
  // background-size: contain;
  // background-repeat: no-repeat;
  padding-top: 112px;

  @media (min-width: $md) {
    padding-top: 144px;
  }

  @media(min-width: $xl) {
    padding-top: 176px;
  }
}

.Hero {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 637px;
  height: auto;
  align-items: center;
  justify-content: center;
  color: $color4;
  margin: 0 auto;
}
