@import '../../../styles/_config.scss';

.HeroBackground {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  gap: 0;

  &ImageDesktop, &Image4k {
    display: none;
  }

  @media (min-width: 960px) {
    &ImageMobile {
      display: none;
    }

    &ImageDesktop {
      display: block;
    }
  }

  @media(min-width: 1920px) {
    &ImageDesktop {
      display: none;
    }

    &Image4k {
      display: block;
    }
  }
}
