@import '../../../styles/_config.scss';

.ContactCvContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ContactCv {
  display: flex;
  flex-direction: row;

  & div {
    display: block;
    position: relative;
    margin: 0 20px;

    & span {
      pointer-events: none;
      font-size: clamp($fontsize1, 2vw, $fontsize2);
      line-height: 1.5em;
      font-weight: 600;
      position: absolute;
      top: -10px;
      left: -10px;
      background-color: $color4;
      color: $color1;
      padding: 3px 4px;
      border-radius: 10px;
    }
  }

  & svg {
    fill: $color4;
  }

  @media (min-width: $md) {
    & svg {
      width: 60px;
      height: 60px;
    }
  }

  @media (min-width: $xl) {
    & svg {
      width: 80px;
      height: 80px;
    }
  }
}
