@import '../../../styles/_config.scss';

.LatestProjectContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem 0;
  position: relative;
  width: 100%;
  margin-bottom: 3rem;

  & h2 {
    display: block;
    font-size: clamp($fontsize2, 5vw, $fontsize3);
    line-height: 1.5em;
    text-align: center;
    color: $color4;
  }
}
