@import '../../../../styles/_config.scss';

.ProjectDetailsContainer {
  display: block;
  width: 100%;
  margin: 96px 0;

  @media (min-width: $md) {
    margin: 128px 0;
  }
}

.ProjectDetails {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 48px 40px;
  color: $color4;
  gap: 16px 0;
  width: 100%;
  max-width: $xl;
  margin: 0 auto;
  background-color: $color1;
  border-radius: 10px;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);

  & h1 {
    display: block;
    text-align: center;
    font-size: clamp($fontsize2, 5vw, $fontsize3);
    line-height: 1.3em;
  }

  &Image {
    display: block;
    margin: 0 auto;

    & img {
      border-radius: 10px;
    }
  }

  & svg {
    fill: $color4;
    pointer-events: none;
  }

  &Description {
    display: block;
    font-size: clamp($fontsize1, 3vw, $fontsize2);
    line-height: 1.5em;

    & p {
      margin: 1.5em 0;
    }
  }

  &Date {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: clamp($fontsize1, 2vw, $fontsize2);
  }

  &Links {
    display: flex;
    flex-direction: row;
    gap: 0 16px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
}
