@import '../../../../styles/_config.scss';

.ProjectCard {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  color: $color4;
  background-color: $color1;
  border-radius: 10px;
  gap: 1rem 0;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.1);

  &Image {
    display: block;
    width: 100%;

    & img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &Text {
    display: block;
    padding: 0 0.75rem;

    & h3 {
      text-align: center;
      font-size: clamp($fontsize0, 3vw, $fontsize2);
    }
  }

  &Date {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 100%;
    max-width: 70px;
    text-align: center;

    @media(min-width: $sm) {
      width: auto;
      max-width: unset;
    }
  }

  @media (min-width: $md) {
    gap: 2rem 0;
  }
}
