@import '../../styles/_config.scss';

.Homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 64px;

  @media(min-width: $md) {
    row-gap: 96px;
  }

  @media(min-width: $xl) {
    row-gap: 128px;
  }
}