@import '../../styles/_config.scss';

.Homepage {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 64px 0;

  @media(min-width: $md) {
    gap: 96px 0;
  }

  @media(min-width: $xl) {
    gap: 128px 0;
  }
}