@import '../../styles/_config.scss';

.ProjectsContainer {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 48px;
}

.Projects {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 48px;
}
