$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$color1: #303841;
$color2: #2e4750;
$color3: #a1d3cc;
$color4: #f7f7f7;
$color5: #f6c90e;
$color6: #4cb944;
$color7: #FE766C;

$fontsize0: 0.625rem;
$fontsize1: 1rem;
$fontsize2: 1.625rem;
$fontsize3: 2.625rem;
$fontsize4: 4.25rem;
$fontsize5: 6.875rem;
