@import './_config.scss';

@font-face {
  src: url('/fonts/ttf/Raleway-VF.ttf') format('truetype');
  font-family: 'Raleway';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('/fonts/ttf/Raleway-Italic-VF.ttf') format('truetype');
  font-family: 'Raleway';
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url('/fonts/woff2/Raleway-VF.woff2') format('woff2'), url('/fonts/woff/Raleway-VF.woff') format('woff');
  font-family: 'Raleway';
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('/fonts/woff2/Raleway-Italic-VF.woff2') format('woff2'), url('/fonts/woff/Raleway-Italic-VF.woff') format('woff');
  font-family: 'Raleway';
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: $color1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: $color4;
}

html {
  font-size: 16px;
  line-height: 1.5em;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $color2;
}

.SecondaryButton {
  display: flex;
  text-decoration: none;
  color: $color4;
  background-color: $color1;
  border: 2px solid $color4;
  border-radius: 10px;
  padding: 0.5em 0.75em;
  font-size: clamp($fontsize1, 3vw, $fontsize2);
  font-weight: 500;
  align-items: center;
  gap: 0 0.25rem;

  & svg {
    fill: $color4;
    width: 20px;
    height: 20px;
    pointer-events: none;
  }

  &:hover {
    background-color: $color4;
    color: $color1;

    & svg {
      fill: $color1;
    }
  }

  @media (min-width: $md) {
    & svg {
      width: 25px;
      height: 25px;
    }
  }
}

h2 {
  display: block;
  font-size: clamp($fontsize2, 5vw, $fontsize3);
  line-height: 1.5em;
  text-align: center;
  color: $color4;
  margin: 2rem 0 1rem 0;

  @media (min-width: $lg) {
    margin-bottom: 2rem;
  }
}

.ScreenReadersOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
