@import '../../../styles/_config.scss';

.ContactFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ContactForm {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 730px;
  padding: 16px;
  gap: 32px 0;
  row-gap: 32px;
  background-color: $color1;
  border-radius: 10px;
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.1);
  font-size: clamp($fontsize1, 3vw, $fontsize2);

  &Input,
  &Textarea {
    display: block;
    border: none;
    line-height: 1.5em;
    font-family: inherit;
    font-weight: 500;
    font-size: clamp($fontsize1, 3vw, $fontsize2);
    background-color: $color4;
    color: $color1;
    padding: 4px;
    width: 100%;
    resize: none;

    &:active,
    &:focus {
      outline: none;
      border: none;
    }
  }

  & fieldset:nth-last-of-type(1) {
    & div {
      padding: 8px;

      & textarea {
        padding: 0 4px;
      }

      & svg {
        align-self: flex-start;
      }
    }
  }

  &Button {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    padding: 8px 12px;
    border-radius: 10px;
    color: $color1;
    background-color: $color4;
    font-weight: 500;
    font-size: clamp($fontsize1, 3vw, $fontsize2);
    border: 2px solid $color1;

    & svg {
      pointer-events: none;
      fill: $color1;
      width: 20px;
      height: 20px;
    }

    & span {
      margin-left: 4px;
    }

    &:hover {
      cursor: pointer;
      background-color: $color1;
      color: $color4;
      border: 2px solid $color4;

      & svg {
        fill: $color4;
      }
    }
  }

  @media (min-width: $sm) {
    & fieldset:nth-last-of-type(1) {
      & div {
        padding: 12px 8px;
      }
    }

    &Button {
      & svg {
        width: 25px;
        height: 25px;
      }
    }
  }
}
